


<header>
  <nav class="main-nav">
    <ul>
      <li><a href="index.html" class="nav-home">🏠 Home</a></li>
      <li><a href="regions.html" class="nav-regions">👗 Regions</a></li>
      <li><a href="lookbook.html" class="nav-lookbook">🏠 Lookbook/a></li>
      <li><a href="favourites.html" class="nav-favorites">👗 Favorites</a></li>
      <li><a href="designer.html" class="nav-designer">👗 Designer</a></li>
      <li><a href="about.html" class="nav-about">⭐ About</a></li>
      <li><a href="contact.html" class="nav-contact">✉ Contact</a></li>
    </ul>
  </nav>
</header>

